
header{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    
}

img{
    width: 7%;
}


a{
    text-decoration: none;
    margin: 2rem;
}

